<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Clouds</title>
</head>
<body>
    <h1>Word Clouds</h1>
    <h2>Positive Tweets</h2>
    <img src="{{ url_for('plot_wordcloud', sentiment='positive') }}" alt="Positive Word Cloud">
    <h2>Negative Tweets</h2>
    <img src="{{ url_for('plot_wordcloud', sentiment='negative') }}" alt="Negative Word Cloud">
    <h2>Neutral Tweets</h2>
    <img src="{{ url_for('plot_wordcloud', sentiment='neutral') }}" alt="Neutral Word Cloud">
    <a href="/">Back to Home</a>
</body>
</html>
